# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.venv
venv/
env/
ENV/

# Generated data
data/

# Logs
*.log

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
